.page {
    margin: 0;
    padding: 0;
    /* only for pixelperfect with image */
    width: 1920px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.container_header {
    display: flex;
    justify-content: space-between;
}

.header {
    height: 80px;
    background-color: #202628;
}

.header__site-name {
    font-size: 25px;
    font-weight: 300;
    font-family: "Fjalla One", sans-serif;
    color: #e7e7e7;
    text-transform: uppercase;
    margin-top: 26px;
}

.header__nav-list {
    margin: 0;
    list-style-type: none;
    display: flex;
}

.header__nav-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    height: 80px;
    padding-right: 21.5px;
    padding-left: 21.5px;
    text-transform: uppercase;
    font-family: "Fjalla One", sans-serif;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 0.04em;
}

.header__nav-item:last-child {
    padding-right: 10px;
}

.header__nav-item_selected {
    background-color: #e84c3d;
}

.header__nav-link {
    text-decoration: none;
    color: #e7e7e7;
}

.banner {
    height: 560px;
    background-image: url('assets/img/banner.png');
    background-position: center;
    background-repeat: no-repeat;
}

.banner__slider-button {
    margin-top: 290px;
    box-sizing: content-box;
    padding: 0;
    width: 34px;
    height: 71px;
    background-color: transparent;
    background-image: url('assets/img/banner-buttons.png');
    background-repeat: no-repeat;
    border: none;
}

.banner__slider-button_left {
    background-position: 0 0;
}

.banner__slider-button_right {
    margin-left: -3px;
    background-position: -35px 0;
}

.banner__fieldset {
    width: 458px;
    padding: 0;
    margin: 20px 0 0 -2px;
    border: none;
    border-top: 2px solid #e7e7e7;
}

.banner__title {
    font-family: "Fjalla One", sans-serif;
    font-size: 31px;
    color: #e7e7e7;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.08em;
    margin: 0;
    padding-right: 0.4em;
}

.banner__subtitle {
    font-family: "Fjalla One", sans-serif;
    font-size: 31px;
    color: #e7e7e7;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.08em;
    margin-top: 8px;
    margin-bottom: 11px;
    margin-left: -1px;
}

.banner__link {
    font-family: "Fjalla One", sans-serif;
    font-size: 15px;
    color: #e84c3d;
    text-decoration: none;
    letter-spacing: 0.08em;
}

.achievements {
    background-color: #e7e7e7;
    height: 277px;
}

.container_achievements {
    display: flex;
    justify-content: space-between;
}

.achievements__item {
    width: 270px;
    margin: 0;
    margin-top: 76px;
    padding-left: 100px;
    background-repeat: no-repeat;
    background-position: 0 5px;
}

.achievements__item_background_rocket {
    background-image: url('assets/img/achievements-icons-rocket.png');
}

.achievements__item_background_shield {
    background-image: url('assets/img/achievements-icons-shield.png');
}

.achievements__item_background_extinguisher {
    background-image: url('assets/img/achievements-icons-extinguisher.png');
}

.achievements__item-title {
    margin: 0;
    font-family: "Fjalla One", sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #202628;
    font-weight: 300;
}

.achievements__item-description {
    margin-top: 20px;
    font-family: "Lato", sans-serif;
    word-wrap: break-word;
    hyphens: auto;
    font-size: 14px;
    line-height: 24px;
    color: #767c7e;
}

.achievements__item-link {
    color: #e84c3d;
    text-decoration: none;
}

.services {
    padding-top: 78px;
    padding-bottom: 80px;
}

.container_services {
    display: flex;
    justify-content: space-between;
}

.services__block {
    width: 770px;
}

.services__title {
    padding-left: 2px;
    margin-top: 0px;
    color: #202628;
    font-family: "Fjalla One", sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.services__subtitle {
    margin-top: 23px;
    padding-top: 6px;
    padding-bottom: 9px;
    margin-bottom: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #e84c3d;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.services__articles {
    display: flex;
    justify-content: space-between;
}

.services__article {
    width: 370px;
}

.services__article-title {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    color: #202628;
    margin-top: 22px;
    margin-bottom: 0;
}

.services__article-content {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #767c7e;
    margin-top: 4px;
}

.services__article-button {
    margin-top: 19px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    width: 70px;
    height: 37px;
    background-color: #e84c3d;
    border-radius: 18px;
    border: none;
}

.container_subscribe {
    box-sizing: border-box;
    background-color: #e84c3d;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 49px 30px 50px 30px;
}

.subscribe__responce {
    display: flex;
    width: 570px;
}

.subscribe__avatar {
    margin: 0 0 auto 0;
}

.subscribe__person {
    margin-left: 29px;
}

.subscribe__name {
    font-family: "Fjalla One", sans-serif;
    font-weight: 300;
    font-size: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    margin: -4px 0 0 0px;
}
.subscribe__quote {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 14px 0 0 0;
}
.subscribe__quote-author {
    font-size: 14px;
}

.subscribe__form {
    width: 510px;
}

.subscribe__form-title {
    font-family: "Fjalla One", sans-serif;
    font-weight: 300;
    font-size: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    margin: -4px 0 0 0;
}

.subscribe__email {
    box-sizing: border-box;
    color: #9faaad;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    border: none;
    height: 41px;
    width: 380px;
    border-radius: 20px;
    margin: 25px 0 0 1px;
    padding-left: 18px;
}

.subscribe__button {
    font-family: "Fjalla One", sans-serif;
    font-size: 15px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    background-color: #202628;
    background-image: url('assets/img/right-arrow.png');
    background-repeat: no-repeat;
    background-position: 85px 18px;
    border: none;
    border-radius: 20px;
    padding-left: 21px;
    text-align: left;
    margin-left: 5px;
    height: 41px;
    width: 120px;
}

.container_contact {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 60px;
}

.contact__column {
    width: 370px;
}

.contact__column-title {
    margin-left: 1px;
    font-family: "Fjalla One", sans-serif;
    font-size: 21px;
    letter-spacing: 0.04em;
    font-weight: 300;
    text-transform: uppercase;
    color: #202628;
    margin-bottom: 25px;
}

.contact__row {
    padding: 30px 0 23.4px 0;
    border-top: 1px solid #e7e7e7;
}

.contact__row:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.contact__feature {
    padding-left: 100px;
    background-repeat: no-repeat;
    background-position: left center;
}

.contact__feature_image_1 {
    background-image: url('assets/img/contact_pic1.png');
}
.contact__feature_image_2 {
    background-image: url('assets/img/contact_pic2.png');
}
.contact__feature_image_3 {
    background-image: url('assets/img/contact_pic3.png');
}

.contact__feature-content {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #767c7e;
    margin-top: 4px;
    margin-bottom: 0;
    word-wrap: break-word;
    hyphens: auto;
}

.contact__feature-link {
    color: #e84c3d;
    text-decoration: none;
}

.contact__form {
    background-color: #e7e7e7;
    border-radius: 4px;
    padding: 25px 30px;
}

.contact__form-description {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #767c7e;
    margin: 0;
}

.contact__input-name {
    box-sizing: border-box;
    color: #9faaad;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    border: none;
    height: 41px;
    width: 310px;
    border-radius: 20px;
    padding-left: 18px;
    margin-top: 24px;
}

.contact__input-email {
    box-sizing: border-box;
    color: #9faaad;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    border: none;
    height: 41px;
    width: 310px;
    border-radius: 20px;
    padding-left: 18px;
    margin-top: 20px;
}

.contact__input-query {
    resize: none;
    box-sizing: border-box;
    color: #9faaad;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    border: none;
    height: 82px;
    width: 310px;
    border-radius: 10px;
    padding-left: 18px;
    margin-top: 20px;
}

.contact__button-submit {
    font-family: "Fjalla One", sans-serif;
    font-size: 15px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    background-color: #e84c3d;
    background-image: url('assets/img/right-arrow.png');
    background-repeat: no-repeat;
    background-position: 65px 17px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    text-align: left;
    height: 41px;
    width: 100px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.contact__contacts {
    padding-left: 49px;
    padding-top: 24px;
    background-repeat: no-repeat;
    background-position: 0 29px;
}

.contact__contacts_address {
    background-image: url('assets/img/contact-house.png');
}

.contact__contacts_phone {
    background-image: url('assets/img/contact-phone.png');
}

.contact__contacts_email {
    background-image: url('assets/img/contact-mail.png');
}

.contact__name {
    margin: 0;
    font-weight: 900;
    color: #e84c3d;
    font-family: "Lato", sans-serif;
    hyphens: auto;
    font-size: 16px;
    line-height: 24px;
}

.contact__content {
    font-family: "Lato", sans-serif;
    hyphens: auto;
    font-size: 14px;
    line-height: 24px;
    color: #767c7e;
    margin-top: 1px;
    margin-bottom: 0px
}

.contact__phone-link {
    display: block;
    text-decoration: none;
    color: #767c7e;
}

.contact__email-link {
    display: block;
    text-decoration: none;
    color: #767c7e;
}

.footer {
    box-sizing: border-box;
    background-color: #202628;
    height: 204px;
    padding-top: 76px;
    
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 0.04em;
}

.container_footer {
    display: flex;
}

.footer__sitemap-item {
    color: #e7e7e7;
    text-decoration: none;
}

.footer__slash {
    color: #545a5c;
    margin-left: 13px;
    margin-right: 13px;
}

.footer__info {
    margin-top: 13px;
    letter-spacing: 0;
}

.footer__designer {
    color: #e84c3d;
}
.footer__images-source, 
.footer__copyright {
    color: #767c7e;
}

.footer__social {
    margin-top: 5px;
    margin-left: auto;
    display: flex;
}

.footer__social-link {
    display: block;
    width: 43px;
    height: 43px;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-image: url('assets/img/social-icons.png');
}

.footer__social-link_twitter {
    background-position: -43px 0;
}
.footer__social-link_linkedin {
    background-position: -86px 0;
}