.page {
    margin: 0;
    padding: 0;
    /* only for pixelperfect with image width: 1920px; */
}

.container {
    width: 1170px;
    margin: 0 auto;
}

@media screen and (max-width: 1170px) {
    .container {
        box-sizing: border-box;
        width: 100vw;
        padding-right: 20px;
        padding-left: 20px;
    }
}

.container_header {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .container_header {
        flex-direction: column;
    }
}

.header {
    height: 80px;

    background-color: #202628;
}

@media screen and (max-width: 600px) {
    .header {
        height: unset;
    }
}

.header__site-name {
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    font-weight: 300;

    margin-top: 26px;

    text-transform: uppercase;

    color: #e7e7e7;
}

.header__nav-list {
    display: flex;

    margin: 0;

    list-style-type: none;

    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .header__nav-list {
        padding-left: 0;
    }
}

.header__nav-item {
    font-family: 'Fjalla One', sans-serif;
    font-size: 13px;
    font-weight: 200;

    display: flex;

    box-sizing: border-box;
    height: 80px;
    padding-right: 21.5px;
    padding-left: 21.5px;

    text-align: center;
    letter-spacing: .04em;
    text-transform: uppercase;

    flex-wrap: wrap;
    align-items: center;
}

.header__nav-item:last-child {
    padding-right: 10px;
}

.header__nav-item_selected {
    background-color: #e84c3d;
}

.header__nav-link {
    text-decoration: none;

    color: #e7e7e7;
}

.banner {
    height: 560px;

    background-image: url('assets/img/banner.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.banner__slider-button {
    box-sizing: content-box;
    width: 34px;
    height: 71px;
    margin-top: 290px;
    padding: 0;

    border: none;
    background-color: transparent;
    background-image: url('assets/img/banner-buttons.png');
    background-repeat: no-repeat;
}

.banner__slider-button_left {
    background-position: 0 0;
}

.banner__slider-button_right {
    margin-left: -3px;

    background-position: -35px 0;
}

.banner__fieldset {
    width: 458px;
    margin: 20px 0 0 -2px;
    padding: 0;

    border: none;
    border-top: 2px solid #e7e7e7;
}

@media screen and (max-width: 600px) {
    .banner__fieldset {
        width: 100%;
    }
}

.banner__title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 31px;
    font-weight: 300;

    margin: 0;
    padding-right: .4em;

    letter-spacing: .08em;
    text-transform: uppercase;

    color: #e7e7e7;
}

.banner__subtitle {
    font-family: 'Fjalla One', sans-serif;
    font-size: 31px;
    font-weight: 300;

    margin-top: 8px;
    margin-bottom: 11px;
    margin-left: -1px;

    letter-spacing: .08em;
    text-transform: uppercase;

    color: #e7e7e7;
}

.banner__link {
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;

    text-decoration: none;
    letter-spacing: .08em;

    color: #e84c3d;
}

.services {
    background-color: #e7e7e7;
}

.container_services {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1170px) {
    .container_services {
        flex-direction: column;

        align-items: center;
    }
}

.services__item {
    width: 270px;
    margin-top: 76px;
    margin-bottom: 69px;
    padding-left: 100px;

    background-repeat: no-repeat;
    background-position: 0 5px;
}

@media screen and (max-width: 1170px) {
    .services__item {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .services__item {
        box-sizing: border-box;
        width: 100%;
    }
}

.services__item_background_rocket {
    background-image: url('assets/img/services-icons-rocket.png');
}

.services__item_background_shield {
    background-image: url('assets/img/services-icons-shield.png');
}

.services__item_background_extinguisher {
    background-image: url('assets/img/services-icons-extinguisher.png');
}

.services__item-title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 21px;
    font-weight: 300;

    margin: 0;

    letter-spacing: .04em;
    text-transform: uppercase;

    color: #202628;
}

.services__item-description {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;

    margin-top: 20px;

    word-wrap: break-word;
    hyphens: auto;

    color: #767c7e;
}

.services__item-link {
    text-decoration: none;

    color: #e84c3d;
}

.portfolio {
    padding-top: 78px;
    padding-bottom: 80px;
}

@media screen and (max-width: 1170px) {
    .portfolio {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.container_portfolio {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}


@media screen and (max-width: 1170px) {
    .container_portfolio {
        justify-content: center;
    }
}

.portfolio__block {
    width: 770px;
}


.portfolio__title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 21px;
    font-weight: 300;

    margin-top: 0;
    padding-left: 2px;

    letter-spacing: .04em;
    text-transform: uppercase;

    color: #202628;
}

.portfolio__subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;

    margin-top: 23px;
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 9px;

    color: #e84c3d;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.portfolio__articles {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1170px) {
    .portfolio__articles {
        flex-direction: column;

        align-items: center;
    }
}

.portfolio__article {
    width: 370px;
}

@media screen and (max-width: 600px) {
    .portfolio__article {
        width: 100%;
    }
}

.portfolio__article-title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

    margin-top: 22px;
    margin-bottom: 0;

    color: #202628;
}

.portfolio__article-content {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;

    margin-top: 4px;

    color: #767c7e;
}

.portfolio__article-button {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 24px;

    width: 70px;
    height: 37px;
    margin-top: 19px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 18px;
    background-color: #e84c3d;
}

@media screen and (max-width: 1170px) {
    .portfolio__image {
        display: none;
    }
}

.container_subscribe {
    display: flex;

    box-sizing: border-box;
    padding: 49px 30px 50px 30px;

    border-radius: 10px;
    background-color: #e84c3d;

    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1170px) {
    .container_subscribe {
        flex-direction: column;

        align-items: center;
    }
}

.subscribe__responce {
    display: flex;

    width: 570px;
}

@media screen and (max-width: 1170px) {
    .subscribe__responce {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .subscribe__responce {
        width: 100%;
    }
}

.subscribe__avatar {
    margin: 0 0 auto 0;
}

.subscribe__person {
    margin-left: 29px;
}

.subscribe__name {
    font-family: 'Fjalla One', sans-serif;
    font-size: 21px;
    font-weight: 300;

    margin: -4px 0 0 0;

    letter-spacing: .04em;
    text-transform: uppercase;

    color: #fff;
}
.subscribe__quote {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;

    margin: 14px 0 0 0;

    color: #fff;
}
.subscribe__quote-author {
    font-size: 14px;
}

.subscribe__form {
    width: 510px;
}

@media screen and (max-width: 600px) {
    .subscribe__form {
        width: 100%;
    }
}

.subscribe__form-title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 21px;
    font-weight: 300;

    margin: -4px 0 0 0;

    letter-spacing: .04em;
    text-transform: uppercase;

    color: #fff;
}

.subscribe__email {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;

    box-sizing: border-box;
    width: 380px;
    height: 41px;
    margin: 25px 0 0 1px;
    padding-left: 18px;

    color: #9faaad;
    border: none;
    border-radius: 20px;
}


@media screen and (max-width: 600px) {
    .subscribe__email {
        width: 100%;
    }
}

.subscribe__button {
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;

    width: 120px;
    height: 41px;
    margin-left: 5px;
    padding-left: 21px;

    text-align: left;
    letter-spacing: .04em;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 20px;
    background-color: #202628;
    background-image: url('assets/img/right-arrow.png');
    background-repeat: no-repeat;
    background-position: 85px 18px;
}

@media screen and (max-width: 600px) {
    .subscribe__button {
        margin-top: 20px;
    }
}

.container_contact {
    display: flex;

    padding-top: 45px;
    padding-bottom: 60px;

    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1170px) {
    .container_contact {
        flex-direction: column;

        align-items: center;
    }
}

.contact__column {
    width: 370px;
}

@media screen and (max-width: 600px) {
    .contact__column {
        width: 100%;
    }
}

.contact__column-title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 21px;
    font-weight: 300;

    margin-bottom: 25px;
    margin-left: 1px;

    letter-spacing: .04em;
    text-transform: uppercase;

    color: #202628;
}

.contact__row {
    padding: 30px 0 23.4px 0;

    border-top: 1px solid #e7e7e7;
}

.contact__row:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.contact__feature {
    padding-left: 100px;

    background-repeat: no-repeat;
    background-position: left center;
}

.contact__feature_image_1 {
    background-image: url('assets/img/contact_pic1.png');
}
.contact__feature_image_2 {
    background-image: url('assets/img/contact_pic2.png');
}
.contact__feature_image_3 {
    background-image: url('assets/img/contact_pic3.png');
}

.contact__feature-content {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;

    margin-top: 4px;
    margin-bottom: 0;

    word-wrap: break-word;
    hyphens: auto;

    color: #767c7e;
}

.contact__feature-link {
    text-decoration: none;

    color: #e84c3d;
}

.contact__form {
    padding: 25px 30px;

    border-radius: 4px;
    background-color: #e7e7e7;
}

.contact__form-description {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;

    margin: 0;

    color: #767c7e;
}

.contact__input-name {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;

    box-sizing: border-box;
    width: 310px;
    height: 41px;
    margin-top: 24px;
    padding-left: 18px;

    color: #9faaad;
    border: none;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .contact__input-name {
        width: 100%;
    }
}

.contact__input-email {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;

    box-sizing: border-box;
    width: 310px;
    height: 41px;
    margin-top: 20px;
    padding-left: 18px;

    color: #9faaad;
    border: none;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .contact__input-email {
        width: 100%;
    }
}

.contact__input-query {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;

    box-sizing: border-box;
    width: 310px;
    height: 82px;
    margin-top: 20px;
    padding-left: 18px;

    resize: none;

    color: #9faaad;
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .contact__input-query {
        width: 100%;
    }
}

.contact__button-submit {
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;

    width: 100px;
    height: 41px;
    margin-top: 16px;
    margin-bottom: 4px;
    padding-left: 20px;

    text-align: left;
    letter-spacing: .04em;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 20px;
    background-color: #e84c3d;
    background-image: url('assets/img/right-arrow.png');
    background-repeat: no-repeat;
    background-position: 65px 17px;
}

.contact__contacts {
    padding-top: 24px;
    padding-left: 49px;

    background-repeat: no-repeat;
    background-position: 0 29px;
}

.contact__contacts_address {
    background-image: url('assets/img/contact-house.png');
}

.contact__contacts_phone {
    background-image: url('assets/img/contact-phone.png');
}

.contact__contacts_email {
    background-image: url('assets/img/contact-mail.png');
}

.contact__name {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;

    margin: 0;

    hyphens: auto;

    color: #e84c3d;
}

.contact__content {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;

    margin-top: 1px;
    margin-bottom: 0;

    hyphens: auto;

    color: #767c7e;;
}

.contact__phone-link {
    display: block;

    text-decoration: none;

    color: #767c7e;
}

.contact__email-link {
    display: block;

    text-decoration: none;

    color: #767c7e;
}

.footer {
    font-family: 'Lato', sans-serif;
    font-size: 14px;

    box-sizing: border-box;
    height: 204px;
    padding-top: 76px;

    letter-spacing: .04em;

    background-color: #202628;
}

@media screen and (max-width: 1170px) {
    .footer {
        height: unset;
    }
}

.container_footer {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1170px) {
    .container_footer {
        flex-direction: column;

        align-items: flex-start;
    }
}

.footer__sitemap-item {
    text-decoration: none;

    color: #e7e7e7;
}

.footer__slash {
    margin-right: 13px;
    margin-left: 13px;

    color: #545a5c;
}

.footer__info {
    margin-top: 13px;

    letter-spacing: 0;
}

.footer__designer {
    color: #e84c3d;
}

.footer__images-source,
.footer__copyright {
    color: #767c7e;
}

.footer__social {
    display: flex;

    margin-top: 5px;

    flex-wrap: wrap;
}

.footer__social-link {
    display: block;

    width: 43px;
    height: 43px;
    margin: 0 5px;

    background-image: url('assets/img/social-icons.png');
    background-repeat: no-repeat;
}

@media screen and (max-width: 1170px) {
    .footer__social-link {
        margin-bottom: 20px;
    }
}

.footer__social-link_twitter {
    background-position: -43px 0;
}

.footer__social-link_linkedin {
    margin-right: 0;

    background-position: -86px 0;
}
